
.container {
    display: flex;
}

.sidebar {
    width: 20%;
    margin: 5% 5% 0% 10%;
    height: 20%;
}

.sidebar ul {
    list-style-type: none;
    background-color: #f1f1f1;
    position: relative;
    height: 100%;
    overflow: auto;
    display: block;
    overflow-y: hidden;
}

.sidebar>ul>li a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.sidebar>ul>li a:hover {
    background-color: #555;
    color: white;
}

.context {
    width: 50%;
    margin-top: 5%;
}

.context p {
    font-size: 16px;
    padding-bottom: 5%;
    font-weight: bold;
}

.context h1 {
    font-size: 22px;
    padding-bottom: 5%;
    font-weight: bold;
}

.context input {
    width: 50%;
    margin-bottom: 5%;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
}

.radio {
    display: flex;
    gap: 5px;
    margin: 0% 60% 0 0;
    justify-content: left;
}

.radio input {
    zoom: 70%;
}
.radio p {
    font-size: 18px;
    margin-top: 1%;
    margin-left: -20%;
}

.context button {
    border: none;
    width: 30%;
    height: 40px;
    margin: 5% 0;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(182, 182, 182, 0.678);
    border-radius: 5px;
    cursor: pointer;
}
.context button:hover {
    background-color: #555;
    color: white
}

@media (max-width: 900px) {
    .media .icon{
      display: block;
    }
  }
  @media (max-width: 640px) {
    .media{
      display: block;
    }
  }
