/* 路徑 */
.breadcrumb {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
}

.breadcrumb-item img {
    width: 80%;
    margin-top: -3px;
}

.breadcrumb-item {
    font-weight: bold;
    font-size: 24px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: black;
}

/* 內容 */
#reset-form{
    display: block;
    margin: 5% 30%;
    border: 1px solid black;
    width: 40%;
    border-radius: 5px;
}

#reset-form h1{
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    margin: 5% auto;
}

#reset-form label{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}

#reset-form input{
    margin-left: 5%;
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid black;
}

button{
    display: flex;
    height: 35px;
    width: auto;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5%;
    text-align: center;
}
#login-button:hover{
    background-color:#f7d0e7;
}

p{
    font-size: 18px;
    font-weight: bold;
    margin: 8% 5%;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
  }
  .footer{
    width: 85%;
    display: flex;
    align-items: center;
    border-top: 1px solid #000;
  }
  .footertxt{
    width: 50%;
    color: #aaa;
    padding: 40px;
  }
  .footertxt p{
    font-size: 18px;
    line-height: 30px;
  }
  .media{
    width: 50%;
    display: flex;
    align-items: center;
  }
  .media .icon{
    display: flex;
    align-items: center;
    margin-left: 40px;
  }
  .media .icon img{
    width: 40px;
    margin-right: 10px;
  }

  @media (max-width: 900px) {
    .media .icon{
      display: block;
    }
  }
  @media (max-width: 640px) {
    .media{
      display: block;
    }
  }